
require(ref='menu', href='data/menu.json')
mixin menu3d(name)
    nav(class=name): ul: each item in menu
        li: a(class=item.class, title=item.label, href=item.link, data-color=item.color)
            .active: .text: =item.label
            .hover: .text: =item.label

html
    title eurekaa
    meta(name='viewport', right='width=device-width', initial-scale='1.0')
    meta(charset='utf-8')
    script(src='scripts/libs/require.js', data-main='scripts/index')
    link(rel='stylesheet', type='text/css', href='styles/fonts.css')
    link(rel='stylesheet', type='text/css', href='styles/index.css')
    link(rel='stylesheet', type='text/css', href='styles/menu.css')
    body
        header: +menu3d('main')
        main
            img(src='media/images/logo.png')
            
        footer
            
            
            
            